openapi: 3.1.0
info:
  title: ClinikEHR API
  version: 1.0.0
  description: |-
    Server-to-server REST API for a clinic's own data, reached with a key the clinic (or a developer workspace) creates in the developer portal.

    Authenticate every request with `Authorization: Bearer <key>`. Test keys reach only your workspace's own synthetic sandbox; live keys reach the clinic that created them. Lists wrap their rows as `{ data, has_more, next_cursor }`; single resources are returned directly. Errors are `application/problem+json` (RFC 9457) with a stable `code`.

    Write requests accept an `Idempotency-Key` header so a retry never repeats a change. See the guides for authentication, permissions, pagination, rate limits and retries.
servers:
  - url: https://api.clinikehr.com/v1
security:
  - ApiKey: []
components:
  securitySchemes:
    ApiKey:
      type: http
      scheme: bearer
      bearerFormat: ehr_live_<keyId>_<secret> or ehr_test_<keyId>_<secret>
  schemas:
    Problem:
      type: object
      description: RFC 9457 application/problem+json.
      required:
        - type
        - title
        - status
        - code
        - request_id
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        code:
          type: string
        request_id:
          type: string
        errors:
          type: array
          items:
            type: object
            required:
              - pointer
              - message
            properties:
              pointer:
                type: string
              message:
                type: string
    Identifier:
      type: object
      required:
        - system
        - value
      properties:
        system:
          type: string
          enum:
            - gtin
            - nafdac
            - ndc
            - rxcui
            - partner
        value:
          type: string
    Money:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          description: Decimal string.
        currency:
          type: string
          description: ISO 4217 code, from clinic_settings.currency.
    Me:
      type: object
      required:
        - key_id
        - clinic_id
        - environment
        - scopes
        - org_id
        - sandbox
      properties:
        key_id:
          type: string
        clinic_id:
          type:
            - string
            - "null"
          format: uuid
        environment:
          type: string
          enum:
            - live
            - test
        scopes:
          type: array
          items:
            type: string
        org_id:
          type:
            - string
            - "null"
          format: uuid
        sandbox:
          type: boolean
          description: True when clinic_id above is this key's workspace's synthetic sandbox clinic, not a real one. Always false for a clinic-owned key.
    ConnectionSummary:
      type: object
      required:
        - clinic_id
        - clinic_name
        - environment
        - granted_scopes
        - connected_at
        - expires_at
        - sandbox
      properties:
        clinic_id:
          type: string
          format: uuid
        clinic_name:
          type:
            - string
            - "null"
          description: The clinic's display name — null for the synthetic sandbox (there is no real clinic behind it).
        environment:
          type: string
          enum:
            - live
            - test
        granted_scopes:
          type: array
          items:
            type: string
        connected_at:
          type:
            - string
            - "null"
          format: date-time
          description: When the connection was approved. Null for a clinic-owned key's implicit self-connection and for the sandbox entry — neither is a consent-model connection row.
        expires_at:
          type:
            - string
            - "null"
          format: date-time
          description: When a PHI-scoped connection must be re-attested. Null for a non-PHI-only connection, a clinic-owned key, and the sandbox entry.
        sandbox:
          type: boolean
          description: True when this entry IS the workspace's synthetic sandbox, not a real clinic.
    InventoryLocation:
      type: object
      required:
        - id
        - name
        - is_active
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type:
            - string
            - "null"
        is_active:
          type: boolean
        updated_at:
          type:
            - string
            - "null"
          format: date-time
    InventoryItem:
      type: object
      required:
        - id
        - name
        - is_active
        - identifiers
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        generic_name:
          type:
            - string
            - "null"
        brand_name:
          type:
            - string
            - "null"
        strength:
          type:
            - string
            - "null"
        dosage_form:
          type:
            - string
            - "null"
        category:
          type:
            - string
            - "null"
        item_type:
          type:
            - string
            - "null"
        unit_of_measure:
          type:
            - string
            - "null"
        is_active:
          type: boolean
        identifiers:
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        retail_price:
          oneOf:
            - $ref: "#/components/schemas/Money"
            - type: "null"
        updated_at:
          type:
            - string
            - "null"
          format: date-time
    InventoryAvailability:
      type: object
      required:
        - matched
      properties:
        item_id:
          type:
            - string
            - "null"
          format: uuid
        matched:
          type: boolean
        band:
          type:
            - string
            - "null"
          enum:
            - out
            - low
            - in_stock
            - null
        as_of:
          type:
            - string
            - "null"
          format: date-time
    AvailabilityRequestEntry:
      description: Exactly one of an item_id, or a {system, value} identifier — never both.
      oneOf:
        - type: object
          additionalProperties: false
          required:
            - item_id
          properties:
            item_id:
              type: string
              format: uuid
        - type: object
          additionalProperties: false
          required:
            - system
            - value
          properties:
            system:
              type: string
              enum:
                - gtin
                - nafdac
                - ndc
                - rxcui
                - partner
            value:
              type: string
    AvailabilityRequest:
      type: object
      additionalProperties: false
      required:
        - entries
      properties:
        entries:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: "#/components/schemas/AvailabilityRequestEntry"
    InventoryStock:
      type: object
      required:
        - item_id
        - quantity
      properties:
        item_id:
          type: string
          format: uuid
        location_id:
          type:
            - string
            - "null"
          format: uuid
        lot_id:
          type:
            - string
            - "null"
        quantity:
          type: string
          description: Decimal string.
        reserved_quantity:
          type: string
          description: Decimal string. Units already committed elsewhere — never counted as sellable.
        expiry_date:
          type:
            - string
            - "null"
          format: date
          description: The lot's expiry date. Null for stock held without a lot, or a lot with none recorded.
        lot_status:
          type:
            - string
            - "null"
          description: The lot's own status (e.g. active, quarantined, recalled). Null when there is no lot.
        as_of:
          type:
            - string
            - "null"
          format: date-time
    ListingBand:
      type:
        - string
        - "null"
      enum:
        - out
        - low
        - in_stock
        - unknown
        - null
      description: Unlike inventory availability's band, listing carries a fourth value, `unknown` — the till heartbeat is missing or stale during open hours. Never coerced to another value; a listing route never returns an exact quantity.
    ListingPin:
      type: object
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
        lng:
          type: number
    ListingPharmacy:
      type: object
      required:
        - clinic_id
      properties:
        clinic_id:
          type: string
          format: uuid
        display_name:
          type:
            - string
            - "null"
        address_line1:
          type:
            - string
            - "null"
        address_line2:
          type:
            - string
            - "null"
        city:
          type:
            - string
            - "null"
        region:
          type:
            - string
            - "null"
        country:
          type:
            - string
            - "null"
        postal_code:
          type:
            - string
            - "null"
        pin:
          oneOf:
            - $ref: "#/components/schemas/ListingPin"
            - type: "null"
          description: Owner-placed on the "Get listed" sheet's map. Null = this pharmacy cannot be ranked by distance in network search.
        phone:
          type:
            - string
            - "null"
        hours:
          type:
            - object
            - "null"
        open_now:
          type:
            - boolean
            - "null"
          description: Computed from the clinic's own business hours. Null when hours are absent or malformed for today — never a guess.
    ListingProfile:
      type: object
      required:
        - clinic_id
      properties:
        clinic_id:
          type: string
          format: uuid
        display_name:
          type:
            - string
            - "null"
        address_line1:
          type:
            - string
            - "null"
        address_line2:
          type:
            - string
            - "null"
        city:
          type:
            - string
            - "null"
        region:
          type:
            - string
            - "null"
        country:
          type:
            - string
            - "null"
        postal_code:
          type:
            - string
            - "null"
        pin:
          oneOf:
            - $ref: "#/components/schemas/ListingPin"
            - type: "null"
        phone:
          type:
            - string
            - "null"
        hours:
          type:
            - object
            - "null"
        price_opt_in:
          type: boolean
          description: Separate opt-in for listing.prices:read. Off by default.
        profile_completed_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time
    ListingSearchResult:
      type: object
      required:
        - band
      properties:
        clinic_id:
          type:
            - string
            - "null"
          format: uuid
        display_name:
          type:
            - string
            - "null"
        item_id:
          type:
            - string
            - "null"
          format: uuid
        match:
          type:
            - string
            - "null"
          enum:
            - code
            - text
            - null
          description: Equivalence confidence label, never a license to surface an unlinked or excluded item.
        band:
          $ref: "#/components/schemas/ListingBand"
        distance_km:
          type:
            - number
            - "null"
          description: Null when the pharmacy has no owner-placed pin, or no `near` was given — ranked last, never excluded.
        as_of:
          type:
            - string
            - "null"
          format: date-time
    ListingClinicItem:
      type: object
      required:
        - band
      properties:
        item_id:
          type:
            - string
            - "null"
          format: uuid
        name:
          type:
            - string
            - "null"
        band:
          $ref: "#/components/schemas/ListingBand"
        as_of:
          type:
            - string
            - "null"
          format: date-time
    ListingSearchRequestItem:
      description: Exactly one of an identifier {system, value} or a free-text {q}.
      oneOf:
        - type: object
          additionalProperties: false
          required:
            - system
            - value
          properties:
            system:
              type: string
              enum:
                - gtin
                - nafdac
                - ndc
                - rxcui
                - partner
            value:
              type: string
        - type: object
          additionalProperties: false
          required:
            - q
          properties:
            q:
              type: string
              description: Free-text name match. Labelled as a text match, never as equivalence.
    ListingSearchRequest:
      type: object
      additionalProperties: false
      required:
        - item
      properties:
        item:
          $ref: "#/components/schemas/ListingSearchRequestItem"
        near:
          type: object
          additionalProperties: false
          properties:
            lat:
              type: number
            lng:
              type: number
            radius_km:
              type: number
        limit:
          type: integer
          minimum: 1
          maximum: 50
          default: 25
    ListingFeedbackRequest:
      type: object
      additionalProperties: false
      required:
        - item
        - outcome
      description: No user data, ever.
      properties:
        item:
          $ref: "#/components/schemas/ListingSearchRequestItem"
        clinic_id:
          type:
            - string
            - "null"
          format: uuid
        outcome:
          type: string
          enum:
            - confirmed_available
            - confirmed_unavailable
            - wrong_match
            - stale
    NextOfKin:
      type: object
      properties:
        name:
          type:
            - string
            - "null"
        phone:
          type:
            - string
            - "null"
        address:
          type:
            - string
            - "null"
    Employment:
      type: object
      properties:
        status:
          type:
            - string
            - "null"
        company:
          type:
            - string
            - "null"
        role:
          type:
            - string
            - "null"
    PatientBilling:
      type: object
      properties:
        individual_type:
          type:
            - string
            - "null"
          enum:
            - self_pay
            - insurance
            - null
        group_type:
          type:
            - string
            - "null"
          enum:
            - self_pay
            - insurance
            - null
    PatientEmail:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
        type:
          type:
            - string
            - "null"
        permission:
          type:
            - string
            - "null"
          enum:
            - email_ok
            - no_email
            - null
        is_primary:
          type: boolean
          default: false
    PatientPhone:
      type: object
      required:
        - phone_number
      properties:
        phone_number:
          type: string
        type:
          type:
            - string
            - "null"
        permission:
          type:
            - string
            - "null"
          enum:
            - text_voicemail_ok
            - text_ok
            - voicemail_ok
            - no_call
            - null
        is_primary:
          type: boolean
          default: false
    PatientGuardian:
      type: object
      properties:
        guardian_id:
          type:
            - string
            - "null"
          format: uuid
        first_name:
          type:
            - string
            - "null"
        last_name:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        phone:
          type:
            - string
            - "null"
        relationship:
          type:
            - string
            - "null"
          enum:
            - parent
            - grandparent
            - sibling
            - aunt_uncle
            - legal_guardian
            - foster_parent
            - step_parent
            - other
            - null
        is_responsible_for_billing:
          type: boolean
          default: false
        is_primary:
          type: boolean
          default: false
        can_access_records:
          type: boolean
          default: false
        is_emergency_contact:
          type: boolean
          default: true
        can_schedule_appointments:
          type: boolean
          default: false
        notes:
          type:
            - string
            - "null"
    PatientNotificationSettings:
      type: object
      description: Read-only — refused (notification_settings_not_writable) if sent on a write.
      properties:
        upcoming_appointments_enabled:
          type:
            - boolean
            - "null"
        upcoming_appointments_email_option:
          type:
            - string
            - "null"
        upcoming_appointments_phone_option:
          type:
            - string
            - "null"
        incomplete_documents_enabled:
          type:
            - boolean
            - "null"
        incomplete_documents_email_option:
          type:
            - string
            - "null"
        incomplete_documents_phone_option:
          type:
            - string
            - "null"
        cancellations_enabled:
          type:
            - boolean
            - "null"
        cancellations_email_option:
          type:
            - string
            - "null"
        cancellations_phone_option:
          type:
            - string
            - "null"
    PatientCouple:
      type: object
      description: Read-only — a couple registration is a separate two-patient transaction this API does not perform.
      properties:
        partner_id:
          type:
            - string
            - "null"
          format: uuid
        responsible_for_billing:
          type:
            - boolean
            - "null"
        relationship_status:
          type:
            - string
            - "null"
    Patient:
      type: object
      required:
        - id
        - first_name
        - last_name
      properties:
        id:
          type: string
          format: uuid
        mrn:
          type:
            - string
            - "null"
        first_name:
          type: string
        last_name:
          type: string
        middle_name:
          type:
            - string
            - "null"
        preferred_name:
          type:
            - string
            - "null"
        title:
          type:
            - string
            - "null"
        suffix:
          type:
            - string
            - "null"
        date_of_birth:
          type:
            - string
            - "null"
          format: date
        gender:
          type:
            - string
            - "null"
          enum:
            - male
            - female
            - other
            - null
        marital_status:
          type:
            - string
            - "null"
          enum:
            - single
            - married
            - divorced
            - widowed
            - separated
            - null
        client_type:
          type:
            - string
            - "null"
          enum:
            - adult
            - minor
            - couple
            - null
        client_status:
          type:
            - string
            - "null"
          description: Read-only global status (patients.client_status).
        is_dependent:
          type: boolean
        email:
          type:
            - string
            - "null"
        phone:
          type:
            - string
            - "null"
        secondary_phone:
          type:
            - string
            - "null"
        country:
          type:
            - string
            - "null"
        nationality:
          type:
            - string
            - "null"
        occupation:
          type:
            - string
            - "null"
        residential_address:
          type:
            - string
            - "null"
        work_address:
          type:
            - string
            - "null"
        city:
          type:
            - string
            - "null"
        state:
          type:
            - string
            - "null"
        zip:
          type:
            - string
            - "null"
        next_of_kin:
          $ref: "#/components/schemas/NextOfKin"
        national_id:
          type:
            - string
            - "null"
        preferred_language:
          type:
            - string
            - "null"
        referred_by:
          type:
            - string
            - "null"
        referral_source_id:
          type:
            - string
            - "null"
          format: uuid
        employment:
          $ref: "#/components/schemas/Employment"
        is_waitlist:
          type: boolean
        billing:
          $ref: "#/components/schemas/PatientBilling"
        sponsor_id:
          type:
            - string
            - "null"
          format: uuid
        allergies:
          type: array
          items:
            type: string
        medical_history:
          type:
            - string
            - "null"
        current_medications:
          type: array
          items:
            type: string
        chronic_conditions:
          type: array
          items:
            type: string
        blood_type:
          type:
            - string
            - "null"
          enum:
            - O+
            - O-
            - A+
            - A-
            - B+
            - B-
            - AB+
            - AB-
            - null
        genotype:
          type:
            - string
            - "null"
          enum:
            - AA
            - AS
            - SS
            - AC
            - SC
            - null
        family_history:
          type:
            - string
            - "null"
        smoking_status:
          type:
            - string
            - "null"
        alcohol_use:
          type:
            - string
            - "null"
        recreational_drug_use:
          type:
            - string
            - "null"
        physical_activity:
          type:
            - string
            - "null"
        living_arrangement:
          type:
            - string
            - "null"
        has_profile_image:
          type: boolean
          description: Read-only. Whether the patient has a profile picture on file. The picture itself is not available through the API yet.
        profile_image_path:
          type:
            - string
            - "null"
          description: Read-only. Not available through the API yet - this value cannot be used to download the picture.
        status:
          type:
            - string
            - "null"
          enum:
            - active
            - prospect
            - inactive
            - blocked
            - null
        is_vip:
          type: boolean
        primary_location_id:
          type:
            - string
            - "null"
          format: uuid
        portal_access_enabled:
          type:
            - boolean
            - "null"
          description: Read-only.
        admission_status:
          type:
            - string
            - "null"
          description: Read-only, ward-only.
        couple:
          oneOf:
            - $ref: "#/components/schemas/PatientCouple"
            - type: "null"
        emails:
          type: array
          items:
            $ref: "#/components/schemas/PatientEmail"
          description: Write REPLACES the whole set.
        phones:
          type: array
          items:
            $ref: "#/components/schemas/PatientPhone"
          description: Write REPLACES the whole set.
        guardians:
          type: array
          items:
            $ref: "#/components/schemas/PatientGuardian"
          description: Write REPLACES the whole set. Only accepted when client_type=minor.
        insurance:
          type: array
          items:
            type: object
          description: Read-only. Own module, own save action — never written here.
        pharmacies:
          type: array
          items:
            type: object
          description: Read-only. Populated by intake extraction only.
        care_providers:
          type: array
          items:
            type: object
          description: Read-only. Populated by intake extraction only.
        notification_settings:
          oneOf:
            - $ref: "#/components/schemas/PatientNotificationSettings"
            - type: "null"
        created_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time
    PatientDuplicateFlag:
      type: object
      required:
        - id
        - clinic_patient_id
        - candidate_clinic_patient_id
        - status
      properties:
        id:
          type: string
          format: uuid
        clinic_patient_id:
          type: string
          format: uuid
        candidate_clinic_patient_id:
          type: string
          format: uuid
        similarity:
          type:
            - number
            - "null"
        source:
          type:
            - string
            - "null"
        status:
          type: string
          enum:
            - open
            - dismissed
            - merged
        decided_by_staff_id:
          type:
            - string
            - "null"
          format: uuid
        decided_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type:
            - string
            - "null"
          format: date-time
    PatientImportRequest:
      type: object
      additionalProperties: false
      required:
        - format
        - data
      properties:
        format:
          type: string
          enum:
            - json_array
            - ndjson
            - fhir_bundle
          description: How `data` is written.
        data:
          description: "`json_array` — an array of patient objects in the same shape as `createPatient` (a row that carries `allergies`, `current_medications` or `chronic_conditions` is rejected by name like any other invalid row). `ndjson` — one string, a patient object per line. `fhir_bundle` — a FHIR Bundle whose entries include Patient resources (other resource types are ignored). At most 100 rows."
          oneOf:
            - type: array
              minItems: 1
              maxItems: 1000
              items:
                type: object
            - type: string
            - type: object
    PatientImportRowError:
      type: object
      required:
        - row
        - field
        - reason
      description: Where a row failed and why. Never the value that failed.
      properties:
        row:
          type: integer
          minimum: 1
          description: 1-based position in the file.
        field:
          type: string
        reason:
          type: string
    PatientImportJob:
      type: object
      required:
        - id
        - status
        - input_format
        - row_count
        - last_processed_row
        - counts
        - row_errors
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - validating
            - needs_review
            - running
            - succeeded
            - failed
        input_format:
          type: string
          enum:
            - json_array
            - ndjson
            - fhir_bundle
        row_count:
          type: integer
        last_processed_row:
          type: integer
        counts:
          type: object
          required:
            - created
            - flagged_duplicate
            - skipped_already_imported
            - failed
          properties:
            created:
              type: integer
            flagged_duplicate:
              type: integer
              description: Created, and marked as a possible duplicate for staff to review.
            skipped_already_imported:
              type: integer
            failed:
              type: integer
        row_errors:
          type: array
          items:
            $ref: "#/components/schemas/PatientImportRowError"
        started_by:
          type: string
          enum:
            - key
            - session
        valid_only_run_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PatientSearchIdentifier:
      type: object
      additionalProperties: false
      required:
        - system
        - value
      properties:
        system:
          type: string
          enum:
            - email
            - phone
            - mrn
        value:
          type: string
    PatientSearchRequest:
      type: object
      additionalProperties: false
      required:
        - identifiers
      properties:
        identifiers:
          type: array
          minItems: 2
          items:
            $ref: "#/components/schemas/PatientSearchIdentifier"
          description: At least two identifiers of DIFFERENT kinds (email, phone, mrn). Exact match only.
    DispensingMedicine:
      type: object
      properties:
        name:
          type:
            - string
            - "null"
        generic_name:
          type:
            - string
            - "null"
        brand_name:
          type:
            - string
            - "null"
        identifiers:
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
    DispensingHistoryLine:
      type: object
      required:
        - id
        - medicine
        - quantity
      properties:
        id:
          type: string
          format: uuid
        medicine:
          $ref: "#/components/schemas/DispensingMedicine"
        quantity:
          type:
            - number
            - "null"
        days_supply:
          type:
            - integer
            - "null"
        dispensed_at:
          type:
            - string
            - "null"
          format: date-time
    DispensingFlagReason:
      type: object
      properties:
        code:
          type:
            - string
            - "null"
          enum:
            - lost
            - damaged
            - dose_changed
            - travelling
            - prescriber_instruction
            - other
            - null
        text:
          type:
            - string
            - "null"
    DispensingFlag:
      type: object
      required:
        - id
        - patient_id
        - medicine
      description: Never the pharmacy's other customers, never price, never staff identity beyond a role word (this row carries no staff column at all). check_state is never no_person/person_not_identified_skipped — those are excluded before this row is ever built (the ABSENCE of a check, not a finding).
      properties:
        id:
          type: string
          format: uuid
        patient_id:
          type: string
          format: uuid
        medicine:
          $ref: "#/components/schemas/DispensingMedicine"
        days_supply:
          type:
            - integer
            - "null"
        date:
          type:
            - string
            - "null"
          format: date-time
        check_state:
          type:
            - string
            - "null"
          enum:
            - clear
            - shown_acknowledged
            - not_shown_pending
            - not_shown_offline
            - null
        flags:
          type: array
          items:
            type: string
        evidence:
          type: object
        reason:
          $ref: "#/components/schemas/DispensingFlagReason"
    ExternalStockBatchRow:
      type: object
      required:
        - identifiers
      properties:
        identifiers:
          type: array
          items:
            $ref: "#/components/schemas/Identifier"
        quantity:
          type:
            - number
            - "null"
        band:
          type:
            - string
            - "null"
          enum:
            - in_stock
            - low
            - out
            - null
    ExternalStockBatchCreateRequest:
      type: object
      additionalProperties: false
      required:
        - batch_id
        - as_of
        - feed_source
        - rows
      properties:
        batch_id:
          type: string
          format: uuid
          description: Client-generated. Doubles as the idempotency key — a replay returns the stored result, never reprocesses.
        as_of:
          type: string
          format: date-time
          description: Clamped server-side to [now-30d, now].
        feed_source:
          type: string
        rows:
          type: array
          maxItems: 5000
          items:
            $ref: "#/components/schemas/ExternalStockBatchRow"
    ExternalStockBatchResult:
      type: object
      required:
        - ok
        - batch_id
      properties:
        ok:
          type: boolean
        batch_id:
          type: string
          format: uuid
        item_count:
          type:
            - integer
            - "null"
        matched_count:
          type:
            - integer
            - "null"
        unmatched_count:
          type:
            - integer
            - "null"
        rejected:
          type:
            - boolean
            - "null"
        rejected_reason:
          type:
            - string
            - "null"
          enum:
            - suspicious_shrink
            - invalid_rows
            - empty
            - null
        replayed:
          type:
            - boolean
            - "null"
    ExternalStockBatchStatus:
      type: object
      required:
        - batch_id
        - status
      properties:
        batch_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - accepted
            - rejected
        feed_source:
          type:
            - string
            - "null"
        as_of:
          type:
            - string
            - "null"
          format: date-time
        item_count:
          type:
            - integer
            - "null"
        matched_count:
          type:
            - integer
            - "null"
        unmatched_count:
          type:
            - integer
            - "null"
        rejected_reason:
          type:
            - string
            - "null"
        created_at:
          type:
            - string
            - "null"
          format: date-time
    CrmStage:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
        sort_order:
          type:
            - integer
            - "null"
        is_won:
          type:
            - boolean
            - "null"
        is_lost:
          type:
            - boolean
            - "null"
        probability:
          type:
            - integer
            - "null"
        color:
          type:
            - string
            - "null"
    CrmPipeline:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
        is_default:
          type:
            - boolean
            - "null"
        sort_order:
          type:
            - integer
            - "null"
        created_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time
        stages:
          type: array
          items:
            $ref: "#/components/schemas/CrmStage"
    CrmContact:
      type: object
      description: "Withheld, by NAME: clinic_id (implicit in the path), unsubscribe_token, migrated_from_patient_id, custom_color, created_by, confirmed_opt_in_at, marketing_authorization_id."
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
        owner_staff_id:
          type:
            - string
            - "null"
          format: uuid
        record_type:
          type:
            - string
            - "null"
          enum:
            - lead
            - prospect
            - waitlist
            - referral
            - contact
            - null
        first_name:
          type:
            - string
            - "null"
        last_name:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        phone:
          type:
            - string
            - "null"
        company:
          type:
            - string
            - "null"
        lifecycle_stage:
          type:
            - string
            - "null"
          enum:
            - lead
            - inquiry
            - prospect
            - waitlist
            - customer
            - lost
            - null
        pipeline_id:
          type:
            - string
            - "null"
          format: uuid
        stage_id:
          type:
            - string
            - "null"
          format: uuid
        status:
          type:
            - string
            - "null"
        source:
          type:
            - string
            - "null"
        referral_source_id:
          type:
            - string
            - "null"
          format: uuid
        referred_by_contact_id:
          type:
            - string
            - "null"
          format: uuid
        interest:
          type:
            - string
            - "null"
        desired_service_id:
          type:
            - string
            - "null"
          format: uuid
        desired_provider_id:
          type:
            - string
            - "null"
          format: uuid
        estimated_value_cents:
          type:
            - integer
            - "null"
        currency:
          type:
            - string
            - "null"
        priority:
          type:
            - string
            - "null"
          enum:
            - low
            - normal
            - high
            - null
        score:
          type:
            - integer
            - "null"
        marketing_opt_in:
          type:
            - boolean
            - "null"
        sms_opt_in:
          type:
            - boolean
            - "null"
        consent_at:
          type:
            - string
            - "null"
          format: date-time
        consent_source:
          type:
            - string
            - "null"
        do_not_contact:
          type:
            - boolean
            - "null"
        unsubscribed_at:
          type:
            - string
            - "null"
          format: date-time
        tags:
          type: array
          items:
            type: string
        custom_fields:
          type: object
        converted_patient_id:
          type:
            - string
            - "null"
          format: uuid
        converted_at:
          type:
            - string
            - "null"
          format: date-time
        lost_reason:
          type:
            - string
            - "null"
        last_activity_at:
          type:
            - string
            - "null"
          format: date-time
        next_task_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time
    CrmContactCreateRequest:
      type: object
      additionalProperties: false
      properties:
        owner_staff_id:
          type:
            - string
            - "null"
          format: uuid
        record_type:
          type: string
          enum:
            - lead
            - prospect
            - waitlist
            - referral
            - contact
        first_name:
          type:
            - string
            - "null"
        last_name:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        phone:
          type:
            - string
            - "null"
        company:
          type:
            - string
            - "null"
        lifecycle_stage:
          type: string
          enum:
            - lead
            - inquiry
            - prospect
            - waitlist
            - customer
            - lost
        pipeline_id:
          type:
            - string
            - "null"
          format: uuid
        stage_id:
          type:
            - string
            - "null"
          format: uuid
        source:
          type: string
        referral_source_id:
          type:
            - string
            - "null"
          format: uuid
        interest:
          type:
            - string
            - "null"
        desired_service_id:
          type:
            - string
            - "null"
          format: uuid
        desired_provider_id:
          type:
            - string
            - "null"
          format: uuid
        estimated_value_cents:
          type:
            - integer
            - "null"
        priority:
          type: string
          enum:
            - low
            - normal
            - high
        marketing_opt_in:
          type: boolean
        sms_opt_in:
          type: boolean
        tags:
          type: array
          items:
            type: string
        custom_fields:
          type: object
    CrmContactUpdateRequest:
      type: object
      additionalProperties: false
      description: Absent fields are unchanged. Every property is optional; only present keys are patched.
      properties:
        record_type:
          type: string
          enum:
            - lead
            - prospect
            - waitlist
            - referral
            - contact
        first_name:
          type:
            - string
            - "null"
        last_name:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        phone:
          type:
            - string
            - "null"
        company:
          type:
            - string
            - "null"
        lifecycle_stage:
          type: string
          enum:
            - lead
            - inquiry
            - prospect
            - waitlist
            - customer
            - lost
        pipeline_id:
          type:
            - string
            - "null"
          format: uuid
        stage_id:
          type:
            - string
            - "null"
          format: uuid
        source:
          type: string
        owner_staff_id:
          type:
            - string
            - "null"
          format: uuid
        referral_source_id:
          type:
            - string
            - "null"
          format: uuid
        interest:
          type:
            - string
            - "null"
        desired_service_id:
          type:
            - string
            - "null"
          format: uuid
        desired_provider_id:
          type:
            - string
            - "null"
          format: uuid
        estimated_value_cents:
          type:
            - integer
            - "null"
        priority:
          type: string
          enum:
            - low
            - normal
            - high
        tags:
          type: array
          items:
            type: string
        custom_fields:
          type: object
        marketing_opt_in:
          type: boolean
        sms_opt_in:
          type: boolean
    CrmContactSearchRequest:
      type: object
      additionalProperties: false
      description: Exact match only. email or phone — at least one is required.
      properties:
        email:
          type: string
        phone:
          type: string
    CrmActivity:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
        contact_id:
          type:
            - string
            - "null"
          format: uuid
        actor_staff_id:
          type:
            - string
            - "null"
          format: uuid
        type:
          type:
            - string
            - "null"
          enum:
            - note
            - call
            - email
            - sms
            - meeting
            - stage_change
            - status_change
            - task_done
            - system
            - campaign_send
            - null
        subject:
          type:
            - string
            - "null"
        body:
          type:
            - string
            - "null"
        metadata:
          type: object
        occurred_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type:
            - string
            - "null"
          format: date-time
    CrmActivityCreateRequest:
      type: object
      additionalProperties: false
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - note
            - call
            - email
            - sms
            - meeting
            - stage_change
            - status_change
            - task_done
            - system
            - campaign_send
        subject:
          type:
            - string
            - "null"
        body:
          type:
            - string
            - "null"
        metadata:
          type: object
    PatientCreateRequest:
      type: object
      description: "Unknown top-level fields, and every named read-only field (mrn, portal_access_enabled, admission_status, client_status, insurance, pharmacies, care_providers, couple, profile_image, notification_settings — the last refused with the distinct code notification_settings_not_writable), are refused BY NAME, never silently dropped — enforced by the database, not this schema. `allergies`, `current_medications` and `chronic_conditions` are not accepted here either: they are the clinic's reviewed clinical record, so they are refused by name. Send allergies to `createAllergy` and conditions to `createCondition`; each is held for a clinician to confirm. They are still returned when you read a patient."
      required:
        - first_name
        - last_name
        - client_type
      properties:
        first_name:
          type: string
          minLength: 1
        last_name:
          type: string
          minLength: 1
        middle_name:
          type: string
        preferred_name:
          type: string
        title:
          type: string
        suffix:
          type: string
        client_type:
          type: string
          enum:
            - adult
            - minor
        date_of_birth:
          type: string
          format: date
        gender:
          type: string
          enum:
            - male
            - female
            - other
        marital_status:
          type: string
          enum:
            - single
            - married
            - divorced
            - widowed
            - separated
        email:
          type: string
          format: email
        phone:
          type: string
        secondary_phone:
          type: string
        country:
          type: string
        nationality:
          type: string
        occupation:
          type: string
        residential_address:
          type: string
        work_address:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        next_of_kin:
          $ref: "#/components/schemas/NextOfKin"
        national_id:
          type: string
        preferred_language:
          type: string
        referred_by:
          type: string
        referral_source_id:
          type: string
          format: uuid
        employment:
          $ref: "#/components/schemas/Employment"
        is_dependent:
          type: boolean
        is_waitlist:
          type: boolean
        sponsor_id:
          type: string
          format: uuid
        billing:
          $ref: "#/components/schemas/PatientBilling"
        medical_history:
          type: string
        blood_type:
          type: string
          enum:
            - O+
            - O-
            - A+
            - A-
            - B+
            - B-
            - AB+
            - AB-
        genotype:
          type: string
          enum:
            - AA
            - AS
            - SS
            - AC
            - SC
        family_history:
          type: string
        smoking_status:
          type: string
        alcohol_use:
          type: string
        recreational_drug_use:
          type: string
        physical_activity:
          type: string
        living_arrangement:
          type: string
        status:
          type: string
          enum:
            - active
            - prospect
            - inactive
            - blocked
        is_vip:
          type: boolean
        primary_location_id:
          type: string
          format: uuid
        emails:
          type: array
          items:
            $ref: "#/components/schemas/PatientEmail"
        phones:
          type: array
          items:
            $ref: "#/components/schemas/PatientPhone"
        guardians:
          type: array
          items:
            $ref: "#/components/schemas/PatientGuardian"
        run_automations:
          type: boolean
          default: false
          description: Default false suppresses the patient.created Agent Studio dispatch.
    PatientUpdateRequest:
      type: object
      description: "A key ABSENT from the body leaves that field unchanged; a key present with JSON null clears it where the column allows null, refused (naming the field) where it does not (first_name/last_name can never be cleared). Nested objects (next_of_kin/employment/billing) replace as a whole when present. Arrays (emails/phones/guardians) replace the set when present. `allergies`, `current_medications` and `chronic_conditions` cannot be changed here: they are refused by name. Use `createAllergy` / `updateAllergy` and `createCondition` / `updateCondition`, which a clinician confirms. They are still returned when you read a patient."
      properties:
        first_name:
          type: string
          minLength: 1
        last_name:
          type: string
          minLength: 1
        middle_name:
          type:
            - string
            - "null"
        preferred_name:
          type:
            - string
            - "null"
        title:
          type:
            - string
            - "null"
        suffix:
          type:
            - string
            - "null"
        client_type:
          type: string
          enum:
            - adult
            - minor
          description: Never couple.
        date_of_birth:
          type:
            - string
            - "null"
          format: date
        gender:
          type:
            - string
            - "null"
          enum:
            - male
            - female
            - other
            - null
        marital_status:
          type:
            - string
            - "null"
          enum:
            - single
            - married
            - divorced
            - widowed
            - separated
            - null
        email:
          type:
            - string
            - "null"
          format: email
        phone:
          type:
            - string
            - "null"
        secondary_phone:
          type:
            - string
            - "null"
        country:
          type:
            - string
            - "null"
        nationality:
          type:
            - string
            - "null"
        occupation:
          type:
            - string
            - "null"
        residential_address:
          type:
            - string
            - "null"
        work_address:
          type:
            - string
            - "null"
        city:
          type:
            - string
            - "null"
        state:
          type:
            - string
            - "null"
        zip:
          type:
            - string
            - "null"
        next_of_kin:
          oneOf:
            - $ref: "#/components/schemas/NextOfKin"
            - type: "null"
        national_id:
          type:
            - string
            - "null"
        preferred_language:
          type:
            - string
            - "null"
        referred_by:
          type:
            - string
            - "null"
        referral_source_id:
          type:
            - string
            - "null"
          format: uuid
        employment:
          oneOf:
            - $ref: "#/components/schemas/Employment"
            - type: "null"
        is_dependent:
          type: boolean
        is_waitlist:
          type: boolean
        sponsor_id:
          type:
            - string
            - "null"
          format: uuid
        billing:
          oneOf:
            - $ref: "#/components/schemas/PatientBilling"
            - type: "null"
        medical_history:
          type:
            - string
            - "null"
        blood_type:
          type:
            - string
            - "null"
          enum:
            - O+
            - O-
            - A+
            - A-
            - B+
            - B-
            - AB+
            - AB-
            - null
        genotype:
          type:
            - string
            - "null"
          enum:
            - AA
            - AS
            - SS
            - AC
            - SC
            - null
        family_history:
          type:
            - string
            - "null"
        smoking_status:
          type:
            - string
            - "null"
        alcohol_use:
          type:
            - string
            - "null"
        recreational_drug_use:
          type:
            - string
            - "null"
        physical_activity:
          type:
            - string
            - "null"
        living_arrangement:
          type:
            - string
            - "null"
        status:
          type:
            - string
            - "null"
          enum:
            - active
            - prospect
            - inactive
            - blocked
            - null
        is_vip:
          type: boolean
        primary_location_id:
          type:
            - string
            - "null"
          format: uuid
        emails:
          type: array
          items:
            $ref: "#/components/schemas/PatientEmail"
        phones:
          type: array
          items:
            $ref: "#/components/schemas/PatientPhone"
        guardians:
          type: array
          items:
            $ref: "#/components/schemas/PatientGuardian"
    NoteMetadata:
      type: object
      required:
        - id
        - status
      properties:
        id:
          type: string
          format: uuid
        patient_id:
          type:
            - string
            - "null"
          format: uuid
        title:
          type:
            - string
            - "null"
        note_type:
          type:
            - string
            - "null"
        status:
          type: string
          enum:
            - draft
            - locked
            - final
            - completed
        is_signed:
          type: boolean
        signed_at:
          type:
            - string
            - "null"
          format: date-time
        origin:
          type:
            - string
            - "null"
          enum:
            - staff
            - assistant_internal
            - assistant_external
            - api
            - null
        origin_assistant_name:
          type:
            - string
            - "null"
        is_reviewed:
          type: boolean
        reviewed_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time
    Note:
      allOf:
        - $ref: "#/components/schemas/NoteMetadata"
        - type: object
          properties:
            custom_template_id:
              type:
                - string
                - "null"
              format: uuid
            content:
              type: object
              description: note_content, stripped of internal/meta keys — shape depends on which template (blank/static/custom) produced it. Never note_content's raw form.
            citations:
              anyOf:
                - type: array
                  items:
                    type: object
                - type: "null"
              description: notes_sessions.origin_citations — set only when the draft carries origin_assistant_name.
    NoteCreateRequest:
      type: object
      additionalProperties: false
      required:
        - patient_id
        - clinician_id
        - content
      properties:
        patient_id:
          type: string
          format: uuid
        clinician_id:
          type: string
          format: uuid
          description: clinic_staff.id — the clinician the draft is FOR, never the API caller.
        note_type:
          type:
            - string
            - "null"
          description: A static template's exact name, or omitted for a blank note.
        custom_template_id:
          type:
            - string
            - "null"
          format: uuid
          description: This clinic's own custom template id.
        content:
          type: object
          description: Keyed by generateFieldId(section.title, index) for a template note, or free-form for a blank note. Unknown keys are refused (unknown_field), naming both the offending keys and the full valid list.
        origin_assistant_name:
          type: string
          description: When given, origin=assistant_external instead of api.
        citations:
          type: array
          items:
            type: object
    NoteUpdateRequest:
      type: object
      additionalProperties: false
      required:
        - content
      properties:
        content:
          type: object
          description: Replaces note_content whole. Refused (note_not_editable) unless the note is still status=draft AND was last touched by THIS key.
    NoteTemplateSummary:
      type: object
      required:
        - key
        - kind
      properties:
        key:
          type: string
          description: Exactly what note_type (static) or custom_template_id (custom) expects on create.
        title:
          type:
            - string
            - "null"
        category:
          type:
            - string
            - "null"
        description:
          type:
            - string
            - "null"
        kind:
          type: string
          enum:
            - static
            - custom_template
        version:
          type:
            - integer
            - "null"
    NoteTemplateField:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: The exact content key (generateFieldId output).
        order:
          type:
            - integer
            - "null"
        title:
          type:
            - string
            - "null"
        type:
          type:
            - string
            - "null"
        required:
          type: boolean
        options:
          anyOf:
            - type: array
              items: {}
            - type: object
            - type: "null"
    NoteClinician:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
          description: clinic_staff.id.
        display_name:
          type:
            - string
            - "null"
        role:
          type:
            - string
            - "null"
        active:
          type: boolean
    AppointmentParticipant:
      type: object
      properties:
        patient_id:
          type:
            - string
            - "null"
          format: uuid
        status:
          type:
            - string
            - "null"
    Appointment:
      type: object
      description: "Never present here, by name: client_appointment_date/client_start_time/ client_end_time/client_timezone, form_data, custom_color, provider_user_id, time_range, excluded_from_overlap_check, booking_identity_review, provider_busy_minutes, out_of_office_confirmed_at, booking_confirmation_deferred, clinic_id."
      required:
        - id
        - status
      properties:
        id:
          type: string
          format: uuid
        patient_id:
          type:
            - string
            - "null"
          format: uuid
        service_id:
          type:
            - string
            - "null"
          format: uuid
        clinician_id:
          type:
            - string
            - "null"
          format: uuid
          description: clinic_staff.id — never provider_user_id.
        start_at:
          type:
            - string
            - "null"
          format: date-time
        end_at:
          type:
            - string
            - "null"
          format: date-time
          description: Derived from the service's duration — never independent input.
        duration_minutes:
          type:
            - integer
            - "null"
        timezone:
          type:
            - string
            - "null"
        venue_type:
          type:
            - string
            - "null"
          enum:
            - physical
            - online
            - mobile_clinic
            - null
        venue_details:
          type:
            - object
            - "null"
          description: Read-only.
        status:
          type: string
          enum:
            - scheduled
            - confirmed
            - in_progress
            - completed
            - cancelled
            - no_show
            - rescheduled
        booking_source:
          type:
            - string
            - "null"
          description: Always "api" for a row this API created.
        patient_notes:
          type:
            - string
            - "null"
        clinic_notes:
          type:
            - string
            - "null"
        symptoms_description:
          type:
            - string
            - "null"
        urgency_level:
          type:
            - string
            - "null"
          enum:
            - low
            - normal
            - high
            - emergency
            - null
        ai_category:
          type:
            - string
            - "null"
          description: Read-only.
        ai_priority_score:
          type:
            - number
            - "null"
          description: Read-only.
        ai_suggested_duration:
          type:
            - number
            - "null"
          description: Read-only.
        predicted_show_probability:
          type:
            - number
            - "null"
          description: Read-only.
        confirmation_sent_at:
          type:
            - string
            - "null"
          format: date-time
        confirmation_method:
          type:
            - string
            - "null"
        reminder_sent_at:
          type:
            - string
            - "null"
          format: date-time
        reminder_method:
          type:
            - string
            - "null"
        reminder_sent:
          type:
            - boolean
            - "null"
        payment_status:
          type:
            - string
            - "null"
          enum:
            - pending
            - paid
            - partial
            - refunded
            - waived
            - failed
            - null
        payment_method:
          type:
            - string
            - "null"
        payment_amount:
          type:
            - number
            - "null"
        payment_due_date:
          type:
            - string
            - "null"
          format: date
        amount_paid:
          type:
            - number
            - "null"
          description: Read-only.
        payment_id:
          type:
            - string
            - "null"
          description: Read-only.
        confirmation_code:
          type:
            - string
            - "null"
          description: Read-only.
        cancellation_reason:
          type:
            - string
            - "null"
        cancelled_at:
          type:
            - string
            - "null"
          format: date-time
        completed_at:
          type:
            - string
            - "null"
          format: date-time
        is_group_appointment:
          type:
            - boolean
            - "null"
          description: Read-only.
        max_participants:
          type:
            - integer
            - "null"
          description: Read-only.
        group_name:
          type:
            - string
            - "null"
          description: Read-only.
        recurrence_pattern_id:
          type:
            - string
            - "null"
          format: uuid
          description: Read-only. Creating/editing a whole series is refused.
        series_id:
          type:
            - string
            - "null"
          format: uuid
          description: Read-only.
        series_index:
          type:
            - integer
            - "null"
          description: Read-only.
        email_notifications:
          type:
            - boolean
            - "null"
        sms_notifications:
          type:
            - boolean
            - "null"
        voice_notifications:
          type:
            - boolean
            - "null"
        notes_session_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Read-only.
        class_session_id:
          type:
            - string
            - "null"
          format: uuid
          description: Read-only.
        self_reschedule_count:
          type:
            - integer
            - "null"
          description: Read-only. Tracks PATIENT-initiated portal reschedules only — never incremented by this API.
        location_id:
          type:
            - string
            - "null"
          format: uuid
        participants:
          type: array
          items:
            $ref: "#/components/schemas/AppointmentParticipant"
          description: Read-only group roster — group creation is a scope cut in v1.
        created_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time
    AppointmentCreateRequest:
      type: object
      required:
        - patient_id
        - service_id
        - start_at
      properties:
        patient_id:
          type: string
          format: uuid
        service_id:
          type: string
          format: uuid
        start_at:
          type: string
          format: date-time
          description: ISO 8601 WITH an explicit offset — a value with no offset is invalid_request, never a silent UTC/local guess.
        clinician_id:
          type: string
          format: uuid
          description: Omit to let the pool pick a free, eligible clinician.
        location_id:
          type: string
          format: uuid
        venue_type:
          type: string
          enum:
            - physical
            - online
            - mobile_clinic
          default: physical
        urgency_level:
          type: string
          enum:
            - low
            - normal
            - high
            - emergency
          default: normal
        patient_notes:
          type: string
        clinic_notes:
          type: string
        symptoms_description:
          type: string
        status:
          type: string
          enum:
            - scheduled
            - confirmed
          default: scheduled
        payment_amount:
          type: number
        payment_method:
          type: string
        payment_status:
          type: string
          enum:
            - pending
            - paid
          default: pending
        notify_patient:
          type: boolean
          default: true
          description: false sets email_notifications/sms_notifications/voice_notifications false on the row itself — a real, persistent setting, not a one-time suppression.
        run_automations:
          type: boolean
          default: false
          description: Default false suppresses the appointment.created/*.status Agent Studio dispatch.
    AppointmentUpdateRequest:
      type: object
      description: "Immutable after create, and refused if sent: patient_id, service_id, location_id, every payment field."
      properties:
        start_at:
          type: string
          format: date-time
          description: Present ⇒ reschedule, re-validated against availability/out-of-office/double-booking.
        clinician_id:
          type: string
          format: uuid
        venue_type:
          type: string
          enum:
            - physical
            - online
            - mobile_clinic
        urgency_level:
          type: string
          enum:
            - low
            - normal
            - high
            - emergency
        patient_notes:
          type:
            - string
            - "null"
        clinic_notes:
          type:
            - string
            - "null"
        symptoms_description:
          type:
            - string
            - "null"
        status:
          type: string
          enum:
            - confirmed
          description: The only status this route may set.
        email_notifications:
          type: boolean
          description: Absent ≠ null — no notify_patient shorthand on update.
        sms_notifications:
          type: boolean
        voice_notifications:
          type: boolean
        run_automations:
          type: boolean
          default: false
    AppointmentCancelRequest:
      type: object
      additionalProperties: false
      properties:
        reason:
          type: string
        notify_patient:
          type: boolean
          default: true
          description: false only ever DOWNGRADES notification columns — never re-enables a row already silenced.
        run_automations:
          type: boolean
          default: false
    AppointmentService:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
        name:
          type:
            - string
            - "null"
        duration_minutes:
          type:
            - integer
            - "null"
        category:
          type:
            - string
            - "null"
        is_active:
          type: boolean
    AppointmentClinician:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
          description: clinic_staff.id.
        display_name:
          type:
            - string
            - "null"
        role:
          type:
            - string
            - "null"
    AppointmentAvailabilitySlot:
      type: object
      properties:
        clinician_id:
          type:
            - string
            - "null"
          format: uuid
        date:
          type:
            - string
            - "null"
          format: date
        time:
          type:
            - string
            - "null"
        capacity:
          type:
            - integer
            - "null"
    InventoryMovement:
      type: object
      description: The ledger movement receive/adjust/transfer just recorded — never the whole inventory_transactions row.
      properties:
        transaction_id:
          type:
            - string
            - "null"
          format: uuid
        item_id:
          type:
            - string
            - "null"
          format: uuid
        location_id:
          type:
            - string
            - "null"
          format: uuid
        lot_id:
          type:
            - string
            - "null"
        quantity:
          type:
            - string
            - "null"
          description: Decimal string.
        idempotent_replay:
          type: boolean
    InventoryItemCreateRequest:
      type: object
      required:
        - name
        - item_type
      description: Unknown fields refused by name. container_sale_price/container_cost are refused outright.
      properties:
        name:
          type: string
          minLength: 1
        item_type:
          type: string
        generic_name:
          type: string
        brand_name:
          type: string
        strength:
          type: string
        dosage_form:
          type: string
        category:
          type: string
        unit_of_measure:
          type: string
        upc:
          type: string
          description: gtin identifier.
        nafdac_no:
          type: string
        ndc:
          type: string
        default_sale_price:
          type: number
        container_quantity:
          type: number
        container_label:
          type: string
    InventoryItemUpdateRequest:
      type: object
      description: Absent ≠ null. Idempotency-Key optional — a PATCH is naturally idempotent.
      properties:
        name:
          type: string
          minLength: 1
        generic_name:
          type:
            - string
            - "null"
        brand_name:
          type:
            - string
            - "null"
        strength:
          type:
            - string
            - "null"
        dosage_form:
          type:
            - string
            - "null"
        category:
          type:
            - string
            - "null"
        unit_of_measure:
          type:
            - string
            - "null"
        upc:
          type:
            - string
            - "null"
        nafdac_no:
          type:
            - string
            - "null"
        ndc:
          type:
            - string
            - "null"
        default_sale_price:
          type: number
          description: Above the clinic's configured percentage threshold is refused (limit_exceeded).
        is_active:
          type: boolean
    InventoryReceiveRequest:
      type: object
      required:
        - item_id
        - location_id
        - quantity
      properties:
        item_id:
          type: string
          format: uuid
        location_id:
          type: string
          format: uuid
        quantity:
          type: number
        lot_number:
          type: string
        expiry_date:
          type: string
          format: date
          description: Required, and refused if in the past, for item_type IN (medication, vaccine, injectable) — regardless of the clinic's own setting.
        unit_cost:
          type: number
        vendor_id:
          type: string
          format: uuid
        reference:
          type: string
          description: Echoed back only — no column exists on inventory_transactions to persist it.
    InventoryAdjustRequest:
      type: object
      required:
        - item_id
        - location_id
        - lot_id
        - delta
        - reason
      properties:
        item_id:
          type: string
          format: uuid
        location_id:
          type: string
          format: uuid
        lot_id:
          type: string
          format: uuid
        delta:
          type: number
          description: Positive or negative. abs(delta) over clinic_settings.inventory_api_max_adjustment_qty (default 1000) is refused (limit_exceeded).
        reason:
          type: string
          minLength: 1
    InventoryTransferRequest:
      type: object
      required:
        - item_id
        - from_location_id
        - to_location_id
        - quantity
      properties:
        item_id:
          type: string
          format: uuid
        from_location_id:
          type: string
          format: uuid
        to_location_id:
          type: string
          format: uuid
        quantity:
          type: number
    PartnerCodeUploadEntry:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          minLength: 1
        barcode:
          type: string
        nafdac_no:
          type: string
        ndc:
          type: string
        rxcui:
          type: string
        name:
          type: string
        strength:
          type: string
        form:
          type: string
        pack_size:
          type: string
    PartnerCodesUploadRequest:
      type: object
      additionalProperties: false
      required:
        - entries
      properties:
        entries:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: "#/components/schemas/PartnerCodeUploadEntry"
    PartnerCodeUploadResult:
      type: object
      required:
        - code
        - state
      properties:
        code:
          type: string
        state:
          type:
            - string
            - "null"
          enum:
            - linked
            - needs_review
            - unmatched
            - rejected
            - null
        reason:
          type:
            - string
            - "null"
    PartnerCodeEntry:
      type: object
      required:
        - id
        - state
      properties:
        id:
          type: string
          format: uuid
        code:
          type:
            - string
            - "null"
        barcode:
          type:
            - string
            - "null"
        nafdac_no:
          type:
            - string
            - "null"
        ndc:
          type:
            - string
            - "null"
        rxcui:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        strength:
          type:
            - string
            - "null"
        form:
          type:
            - string
            - "null"
        pack_size:
          type:
            - string
            - "null"
        state:
          type: string
          enum:
            - linked
            - needs_review
            - unmatched
            - rejected
        resolved_medicine_index_id:
          type:
            - string
            - "null"
          format: uuid
        candidate_medicine_index_ids:
          type: array
          items:
            type: string
            format: uuid
        review_reason:
          type:
            - string
            - "null"
        created_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time
    Event:
      type: object
      description: "`data` never carries a patient-shaped value for any type reachable today (every is_patient_data type is refused at emit, unconditionally)."
      required:
        - id
        - type
        - seq
      properties:
        id:
          type: string
        type:
          type:
            - string
            - "null"
        clinic_id:
          type:
            - string
            - "null"
          format: uuid
        subject_id:
          type:
            - string
            - "null"
        seq:
          type:
            - integer
            - "null"
        data:
          type: object
        created_at:
          type:
            - string
            - "null"
          format: date-time
    DrugRequestLine:
      type: object
      description: Present ONLY on GET — create/list/cancel/confirm_substitution do not return lines.
      properties:
        id:
          type:
            - string
            - "null"
          format: uuid
        line_no:
          type:
            - integer
            - "null"
        code_system:
          type:
            - string
            - "null"
          enum:
            - gtin
            - nafdac
            - ndc
            - rxcui
            - partner
            - null
        code_value:
          type:
            - string
            - "null"
        description:
          type:
            - string
            - "null"
        quantity:
          type:
            - string
            - "null"
        directions:
          type:
            - string
            - "null"
        matched_inventory_item_id:
          type:
            - string
            - "null"
          format: uuid
        matched_medicine_index_id:
          type:
            - string
            - "null"
          format: uuid
        line_status:
          type:
            - string
            - "null"
        substituted_item_id:
          type:
            - string
            - "null"
          format: uuid
        substitution_reason:
          type:
            - string
            - "null"
        decline_reason:
          type:
            - string
            - "null"
    DrugRequest:
      type: object
      description: Never carries a price/cost/amount field — a request is a commitment to fill medicine, never a billing document.
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
        clinic_patient_id:
          type:
            - string
            - "null"
          format: uuid
        status:
          type:
            - string
            - "null"
          enum:
            - submitted
            - accepted
            - partly_accepted
            - substituted
            - declined
            - ready
            - dispensed
            - cancelled
            - expired
            - null
        requester_reference:
          type:
            - string
            - "null"
        authorization_reference:
          type:
            - string
            - "null"
        needed_by:
          type:
            - string
            - "null"
          format: date-time
        pharmacist_note:
          type:
            - string
            - "null"
        decline_reason:
          type:
            - string
            - "null"
        cancel_reason:
          type:
            - string
            - "null"
        cancelled_by_actor:
          type:
            - string
            - "null"
        decided_at:
          type:
            - string
            - "null"
          format: date-time
        ready_at:
          type:
            - string
            - "null"
          format: date-time
        dispensed_at:
          type:
            - string
            - "null"
          format: date-time
        cancelled_at:
          type:
            - string
            - "null"
          format: date-time
        expired_at:
          type:
            - string
            - "null"
          format: date-time
        created_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time
        lines:
          type: array
          items:
            $ref: "#/components/schemas/DrugRequestLine"
    DrugRequestCreateRequest:
      type: object
      required:
        - clinic_patient_id
        - lines
      properties:
        clinic_patient_id:
          type: string
          format: uuid
        lines:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - quantity
            properties:
              code_system:
                type: string
                enum:
                  - gtin
                  - nafdac
                  - ndc
                  - rxcui
                  - partner
              code_value:
                type: string
              description:
                type: string
              quantity:
                type: number
                exclusiveMinimum: 0
              directions:
                type: string
        requester_reference:
          type: string
        authorization_reference:
          type: string
        needed_by:
          type: string
          format: date-time
    DrugRequestCancelRequest:
      type: object
      additionalProperties: false
      properties:
        reason:
          type: string
    DrugRequestConfirmSubstitutionRequest:
      type: object
      additionalProperties: false
      required:
        - decision
      properties:
        decision:
          type: string
          enum:
            - accept
            - decline
    ConditionCode:
      type: object
      description: "A coded diagnosis. `system` names the code system: `icd-10-cm`, `icd-10`, `snomed-ct`, or `local` (a clinic's own code, never mapped to an HL7 system). The code is checked for SHAPE only — it is not looked up in a terminology."
      required:
        - system
        - code
      properties:
        system:
          type: string
          enum:
            - icd-10-cm
            - icd-10
            - snomed-ct
            - local
        code:
          type: string
    Condition:
      type: object
      description: "A diagnosis or problem-list entry — the exposed-field allow-list, field by field. `review_status` says where the record stands: `confirmed` is a row in the clinic's problem list (clinic truth; `verification_status: confirmed`, or `unconfirmed` while an item the clinic accepted automatically has not been reviewed by a clinician: see `accepted_by`); `pending` is an outside submission still waiting for a clinician (`verification_status: unconfirmed`); `rejected` and `withdrawn` are this key's own submissions that did not become chart truth. Only the submitting key or organization ever sees its own pending, rejected or withdrawn records."
      required:
        - id
        - patient_id
        - title
        - clinical_status
        - verification_status
        - review_status
      properties:
        id:
          type:
            - string
            - "null"
          format: uuid
          description: The problem-list row's id once confirmed; null while the record is still a pending submission — use `submission_id` then.
        patient_id:
          type: string
          format: uuid
        title:
          type: string
        code:
          oneOf:
            - $ref: "#/components/schemas/ConditionCode"
            - type: "null"
        clinical_status:
          type: string
          enum:
            - active
            - resolved
            - entered_in_error
        verification_status:
          type: string
          enum:
            - confirmed
            - unconfirmed
        onset_date:
          type:
            - string
            - "null"
          format: date
        resolved_date:
          type:
            - string
            - "null"
          format: date
        notes:
          type:
            - string
            - "null"
        recorded_by:
          type:
            - string
            - "null"
          format: uuid
          description: clinic_staff.id of the clinician who recorded or confirmed it.
        source:
          type: string
          enum:
            - clinic
            - api
          description: "`api` for a record that came in through the API and was confirmed by a clinician."
        origin_assistant_name:
          type:
            - string
            - "null"
        accepted_by:
          type:
            - string
            - "null"
          enum:
            - clinic
            - automatic
            - null
          description: "Who put this record on the chart: `clinic` (the clinic's own team, or a clinician who confirmed it) or `automatic` (the clinic chose to accept this kind of item from this key or connection without review; the record is on the chart but no clinician has reviewed it, so `verification_status` reads `unconfirmed` until one does). Null while the item is still a pending submission."
        reviewed_at:
          type:
            - string
            - "null"
          format: date-time
          description: Set when a clinician marked an automatically accepted item reviewed; null otherwise.
        reviewed_by_staff_id:
          type:
            - string
            - "null"
          format: uuid
          description: clinic_staff.id of the clinician who marked an automatically accepted item reviewed; null otherwise.
        review_status:
          type: string
          enum:
            - confirmed
            - pending
            - rejected
            - withdrawn
        submission_id:
          type:
            - string
            - "null"
          format: uuid
        decision_reason:
          type:
            - string
            - "null"
          description: Why a clinician rejected it. Present only when `review_status` is `rejected`.
        created_at:
          type:
            - string
            - "null"
          format: date-time
        updated_at:
          type:
            - string
            - "null"
          format: date-time
    ConditionCreate:
      type: object
      additionalProperties: false
      description: An outside condition, submitted for a clinician to confirm. It does not enter the problem list until then. `code` and `code_system` go together. `client_reference` (your own id for the record, up to 200 characters) makes a second submission of the same record with different content a `client_reference_conflict`.
      required:
        - patient_id
        - title
      properties:
        patient_id:
          type: string
          format: uuid
        title:
          type: string
          minLength: 1
          maxLength: 500
        code:
          type: string
        code_system:
          type: string
          enum:
            - icd-10-cm
            - icd-10
            - snomed-ct
            - local
        clinical_status:
          type: string
          enum:
            - active
            - resolved
          default: active
        onset_date:
          type: string
          format: date
        resolved_date:
          type: string
          format: date
        notes:
          type: string
          maxLength: 4000
        client_reference:
          type: string
          maxLength: 200
        origin_assistant_name:
          type: string
          maxLength: 200
    ConditionUpdate:
      type: object
      additionalProperties: false
      minProperties: 1
      description: "A proposed change to an existing problem-list entry. It becomes a NEW pending submission; the entry itself does not change until a clinician confirms it. `clinical_status: entered_in_error` proposes retracting the entry (nothing is ever deleted). `code` and `code_system` go together."
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        code:
          type: string
        code_system:
          type: string
          enum:
            - icd-10-cm
            - icd-10
            - snomed-ct
            - local
        clinical_status:
          type: string
          enum:
            - active
            - resolved
            - entered_in_error
        onset_date:
          type: string
          format: date
        resolved_date:
          type: string
          format: date
        notes:
          type: string
          maxLength: 4000
    AllergySubstanceCode:
      type: object
      description: A coded substance. `system` is `rxnorm`, `snomed-ct` or `local` (a clinic's own code, never mapped to an HL7 system). An `rxnorm` code is accepted only when it is a verified RxNorm code the platform recognises; `display` is the platform's own term for a verified RxNorm code and is never taken from the sender.
      required:
        - system
        - code
      properties:
        system:
          type: string
          enum:
            - rxnorm
            - snomed-ct
            - local
        code:
          type: string
        display:
          type:
            - string
            - "null"
    AllergySubstance:
      type: object
      required:
        - text
      properties:
        text:
          type: string
        code:
          oneOf:
            - $ref: "#/components/schemas/AllergySubstanceCode"
            - type: "null"
    AllergyReaction:
      type: object
      additionalProperties: false
      description: One reaction. `manifestation` lists what happened, in the clinic's or sender's own words.
      required:
        - manifestation
      properties:
        manifestation:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
            maxLength: 100
        severity:
          type:
            - string
            - "null"
          enum:
            - mild
            - moderate
            - severe
            - null
        description:
          type:
            - string
            - "null"
          maxLength: 500
    Allergy:
      type: object
      description: "An allergy or intolerance - the exposed-field allow-list, field by field. `review_status` says where the record stands: `confirmed` is on the clinic's chart (clinic truth); `pending` is an outside submission still waiting for a clinician (`verification_status: unconfirmed`); `rejected` and `withdrawn` are this key's own submissions that did not become chart truth. `entry` is `structured` for a detailed allergy record and `legacy_text` for an allergy that is only a name on the clinic's simple allergy list: it has `id: null`, no detail, and cannot be fetched or changed by id. An empty list does NOT mean \"no known allergies\"."
      required:
        - id
        - patient_id
        - entry
        - substance
        - verification_status
        - review_status
      properties:
        id:
          type:
            - string
            - "null"
          format: uuid
          description: The allergy record's id once confirmed; null for a pending submission (use `submission_id`) and for a `legacy_text` entry.
        patient_id:
          type: string
          format: uuid
        entry:
          type: string
          enum:
            - structured
            - legacy_text
            - no_known_allergies
          description: "`no_known_allergies` is a record saying the patient has no known allergies; its substance text is `No known allergies`. A clinician confirms it like any other allergy record."
        substance:
          $ref: "#/components/schemas/AllergySubstance"
        category:
          type: array
          items:
            type: string
            enum:
              - food
              - medication
              - environment
              - biologic
        criticality:
          type:
            - string
            - "null"
          enum:
            - low
            - high
            - unable_to_assess
            - null
        type:
          type:
            - string
            - "null"
          enum:
            - allergy
            - intolerance
            - null
        clinical_status:
          type:
            - string
            - "null"
          enum:
            - active
            - inactive
            - resolved
            - entered_in_error
            - null
        verification_status:
          type: string
          enum:
            - confirmed
            - unconfirmed
            - refuted
            - entered_in_error
        reactions:
          type: array
          items:
            $ref: "#/components/schemas/AllergyReaction"
        onset_date:
          type:
            - string
            - "null"
          format: date
        note:
          type:
            - string
            - "null"
        recorded_by:
          type:
            - string
            - "null"
          format: uuid
          description: clinic_staff.id of the clinician who recorded or confirmed it.
        source:
          type: string
          enum:
            - clinic
            - api
        origin_assistant_name:
          type:
            - string
            - "null"
        accepted_by:
          type:
            - string
            - "null"
          enum:
            - clinic
            - automatic
            - null
          description: "Who put this record on the chart: `clinic` (the clinic's own team, or a clinician who confirmed it) or `automatic` (the clinic chose to accept this kind of item from this key or connection without review; the record is on the chart but no clinician has reviewed it, so `verification_status` reads `unconfirmed` until one does). Null while the item is still a pending submission."
        reviewed_at:
          type:
            - string
            - "null"
          format: date-time
          description: Set when a clinician marked an automatically accepted item reviewed; null otherwise.
        reviewed_by_staff_id:
          type:
            - string
[...]
